.stock-list {
  list-style: none;
  padding: 0;
  margin: 0;
  
}

.stock-item {
  border: 1px solid #eee;
  border-radius: 6px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  list-style: none;  
  text-align: left;
}


.stock-label {
  font-weight: bold;
}

.profit {
  color: green;
  font-weight: bold;
}

.loss {
  color: red;
  font-weight: bold;
}